*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*Tema 1 (padrão) */
    --theme1-bg: hsl(222, 26%, 31%);
    --theme1-keypad-bg: hsl(223, 31%, 20%);
    --theme1-screen-bg: hsl(224,  36%, 15%);
    --theme1-key-bg: hsl(30, 25%, 89%);
    --theme1-key-shadow: hsl(28, 16%, 65%);
    --theme1-action-bg: hsl(225, 21%, 49%);
    --theme1-action-shadow: hsl(224, 28%, 35%);
    --theme1-equals-bg: hsl(6, 63%, 50%);
    --theme1-equals-shadow: hsl(6, 70%, 34%);
    --theme1-text: hsl(0, 0%, 100%);
    --theme1-key-text: hsl(221, 14%, 31%);

    /*Tema 2 (padrão) */

    --theme2-bg: hsl(240, 20%, 90%);
    --theme2-keypad-bg: hsl(240, 10%, 85%);
    --theme2-screen-bg: hsl(0, 0%, 93%);
    --theme2-key-bg: hsl(45, 100%, 85%);
    --theme2-key-shadow: hsl(35, 85%, 65%);
    --theme2-action-bg: hsl(185, 42%, 37%);
    --theme2-action-shadow: hsl(185, 58%, 25%);
    --theme2-equals-bg: hsl(25, 98%, 40%);
    --theme2-equals-shadow: hsl(25, 99%, 27%);
    --theme2-text: hsl(60, 10%, 20%);
    --theme2-key-text: hsl(60, 10%, 20%);
    
    /*Tema 3 (padrão) */

    --theme3-bg: hsl(260, 20%, 20%);
    --theme3-keypad-bg: hsl(260, 16%, 25%);
    --theme3-screen-bg: hsl(260, 18%, 30%);
    --theme3-key-bg: hsl(240, 30%, 90%);
    --theme3-key-shadow: hsl(240, 15%, 65%);
    --theme3-action-bg: hsl(200, 40%, 55%);
    --theme3-action-shadow: hsl(200, 40%, 40%);
    --theme3-equals-bg: hsl(25, 90%, 55%);
    --theme3-equals-shadow: hsl(25, 85%, 40%);
    --theme3-text: hsl(0, 0%, 100%);
    --theme3-key-text: hsl(260, 10%, 20%);
}

body{
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.calculator-container{
    width:100%;
    max-width: 500px;
    height: auto;
    justify-items: center;
    align-items: center;
}

.display{
    width: 100%;
    height: 100px;
    margin: 15px;
    border-radius: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.result{
    width: auto;
    margin: 10px;
    font-size: 60px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.keypad{
    width: 100%;
    height: 570px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 10px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.key{
    width: calc((100% - 40px) / 4);
    height: 90px;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.span-2{
    width: calc(((100% - 40px) / 4) * 2 + 10px);
    height: 100px;
}

.equals{
    border-radius: 10px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.header{
    display: flex;
    width: 100%;
    height: 80px;
    text-align: center;
    align-items: center;
}

.theme-switcher{
    display: flex ;
    width: 100%;
    height: 80px;
    justify-content: flex-end;
    align-items: center;
}

.theme-controls{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.theme-toggle{
    width: 60px;
    height: 20px;
    border-radius:30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.theme-numbers{
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease, background-color 0.5s ease;

}

.toggle-ball{
    width: 19px;
    height: 19px;
    border-radius:50%;
    transform: scale(.8);
    position: absolute;
    top: 0;
    transition: transform 0.5 ease, background-color 0.5s ease;
}



/*Temas*/
/* Tema 1 */
body.theme-1 {
    background-color: var(--theme1-bg);
    color: var(--theme1-text);
}

body.theme-1 .display {
    background-color: var(--theme1-screen-bg);
}

body.theme-1 .keypad {
    background-color: var(--theme1-keypad-bg);
}

body.theme-1 .key {
    background-color: var(--theme1-key-bg);
    box-shadow: 0 4px 0 var(--theme1-key-shadow);
    color: var(--theme1-key-text);
    border-bottom: 3px solid var(--theme1-key-shadow)
}

body.theme-1 .actions {
    background-color: var(--theme1-action-bg);
    box-shadow: 0 4px 0 var(--theme1-action-shadow);
    color: var(--theme1-text);
    border-bottom: 3px solid var(--theme1-action-shadow)
}

body.theme-1 .equals {
    background-color: var(--theme1-equals-bg);
    box-shadow: 0 4px 0 var(--theme1-equals-shadow);
    color: var(--theme1-text);
    border-bottom: 3px solid var(--theme1-equals-shadow)
}
body.theme-1 .theme-toggle{
    background-color: var(--theme1-keypad-bg);
}
body.theme-1 .toggle-ball {
    background-color: var(--theme1-equals-bg);
}



/* Tema 2 */
body.theme-2 {
    background-color: var(--theme2-bg);
    color: var(--theme2-text);
}

body.theme-2 .display {
    background-color: var(--theme2-screen-bg);
}

body.theme-2 .keypad {
    background-color: var(--theme2-keypad-bg);
}

body.theme-2 .key {
    background-color: var(--theme2-key-bg);
    box-shadow: 0 4px 0 var(--theme2-key-shadow);
    color: var(--theme2-key-text);
    border-bottom: 3px solid var(--theme2-key-shadow)
}

body.theme-2 .actions {
    background-color: var(--theme2-action-bg);
    box-shadow: 0 4px 0 var(--theme2-action-shadow);
    color: var(--theme2-text);
    border-bottom: 3px solid var(--theme2-action-shadow)
}

body.theme-2 .equals {
    background-color: var(--theme2-equals-bg);
    box-shadow: 0 4px 0 var(--theme2-equals-shadow);
    color: var(--theme2-text);
    border-bottom: 3px solid var(--theme2-equals-shadow)
}
body.theme-2 .theme-toggle{
    background-color: var(--theme2-keypad-bg);
}
body.theme-2 .toggle-ball {
    left: 21px;
    background-color: var(--theme2-equals-bg);
}



/* Tema 3 */
body.theme-3 {
    background-color: var(--theme3-bg);
    color: var(--theme3-text);
}

body.theme-3 .display {
    background-color: var(--theme3-screen-bg);
}

body.theme-3 .keypad {
    background-color: var(--theme3-keypad-bg);
}

body.theme-3 .key {
    background-color: var(--theme3-key-bg);
    box-shadow: 0 4px 0 var(--theme3-key-shadow);
    color: var(--theme3-key-text);
    border-bottom: 3px solid var(--theme3-key-shadow)
}

body.theme-3 .actions {
    background-color: var(--theme3-action-bg);
    box-shadow: 0 4px 0 var(--theme3-action-shadow);
    color: var(--theme3-text);
    border-bottom: 3px solid var(--theme3-action-shadow)
}

body.theme-3 .equals {
    background-color: var(--theme3-equals-bg);
    box-shadow: 0 4px 0 var(--theme3-equals-shadow);
    color: var(--theme3-text);
    border-bottom: 3px solid var(--theme3-equals-shadow)
}
body.theme-3 .theme-toggle{
    background-color: var(--theme3-keypad-bg);
}
body.theme-3 .toggle-ball {
    left: 41px;
    background-color: var(--theme3-equals-bg);
}




/*Animação*/
/* Tema 1 */
.key,
.actions,
.equals {
    transition: transform 0.1s ease, box-shadow 0.2s ease, filter 0.2s ease;
}

body.theme-1 .key:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme1-key-shadow);
    filter: brightness(0.85);
}
body.theme-1 .actions:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme1-action-shadow);
    filter: brightness(0.85);
}
body.theme-1 .equals:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme1-equals-shadow);
    filter: brightness(0.85);
}

/* Tema 2 */
body.theme-2 .key:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme2-key-shadow);
    filter: brightness(0.85);
}
body.theme-2 .actions:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme2-action-shadow);
    filter: brightness(0.85);
}
body.theme-2 .equals:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme2-equals-shadow);
    filter: brightness(0.85);
}

/* Tema 3 */
body.theme-3 .key:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme3-key-shadow);
    filter: brightness(0.85);
}
body.theme-3 .actions:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme3-action-shadow);
    filter: brightness(0.85);
}
body.theme-3 .equals:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--theme3-equals-shadow);
    filter: brightness(0.85);
}